/*element selector(all occurances of that tag)*/
h1{
    color: red;
    font-weight: 10000;
}
/* for a particular sentence, and not all occurances of that tag, we use id as selector, and start it with # in css*/
#second-heading{
    color: blue;
}
/* for a class(grp of elems, we use . in css, and it can be used for multiple occurances of that class */
.heading{
    color: green;
}

.para{
    border: 2px;
    border-style: solid;
    padding: 20px; /* padding is the space between the border and the text inside the box */
    border-color: black;
    color: purple;
    font-weight: 10000;
    text-align: center;
}

.nav{
    border:5px;
    border-style:solid;
    padding:15px;
    border-color: black;
    background-color: lightblue;
    text-align: center;
    /*gap:20px;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-between;*/
}

.nav a{
    text-decoration: none; /* to remove the underline from the links */
    color: black;
    font-weight: 10000;
    padding: 15px;
}

.nav a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}

body{
    margin: 0px;
}

.card{
    border: 5px solid black;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    
}

.card img{
    width: 100%;
}

.card button{
    padding: 10px;
    /*padding-bottom: 10px;*/
    margin: 10px;
    background-color: grey;
    border: none;
    font-weight: 10000;
    cursor: pointer;
}

#Autohead{
    color: black;
    text-align: center;
    font-weight: 10000;
}
.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}